@import url('https://fonts.googleapis.com/css2?family=Mingzat&family=Protest+Guerrilla&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--card-gap: calc(var(--index) * 6.7)
}

body {
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}

html {
	scroll-behavior: smooth;
}

/* video-start */
.video-bg {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.video-bg video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.effects {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	/* background-color: rgba(204,85,0 , 0.1); */
}

.video-bg__content {
	z-index: -1;
	color: #ffffff;
	font-size: 50px;
}

/* video-end */
/* navbar-start */
nav {
	/* background: black; */
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	padding: 16px 20px 30px 20px;
	display: flex;
	align-items: center;
	transition: 0.3s ease-out;
	backdrop-filter: blur(8px) brightness(1.2);
	-webkit-backdrop-filter: blur(8px) brightness(1.2);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 16px;

	&.mask {
		mask-image: linear-gradient(black 70%, transparent);
		mask-image: linear-gradient(black 70%, transparent);
		-webkit-mask-image: linear-gradient(black 70%, transparent);
	}

	&.mask-pattern {
		top: 300px;
		mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
		mask-size: auto 30px, 100% 100%;
		mask-repeat: repeat-x, no-repeat;
		mask-position: left bottom, top left;

		-webkit-mask-image: url("data:image/svg+xml, %3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12.21 10.57%27%3E%3Cpath fill=%27%23ffffff%27 d=%27M6.1 0h6.11L9.16 5.29 6.1 10.57 3.05 5.29 0 0h6.1z%27/%3E%3C/svg%3E"), linear-gradient(black calc(100% - 30px), transparent calc(100% - 30px));
		-webkit-mask-size: auto 30px, 100% 100%;
		-webkit-mask-repeat: repeat-x, no-repeat;
		-webkit-mask-position: left bottom, top left;
	}
}

a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.list {
	list-style-type: none;
	margin-left: auto;
	display: none;

	@media (min-width: 640px) {
		display: flex;
	}

	li {
		margin-left: 20px;
	}

	z-index: 999;
}

.menu {
	display: inline-block;
	padding: 0;
	font-size: 0;
	background: none;
	border: none;
	margin-left: 20px;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));

	&::before {
		content: url("data:image/svg+xml, %3Csvg%20xmlns=%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox=%270%200%2024.8%2018.92%27%20width=%2724.8%27%20height=%2718.92%27%3E%3Cpath%20d=%27M23.8,9.46H1m22.8,8.46H1M23.8,1H1%27%20fill=%27none%27%20stroke=%27%23fff%27%20stroke-linecap=%27round%27%20stroke-width=%272%27%2F%3E%3C%2Fsvg%3E")
	}

	@media (min-width: 640px) {
		display: none;
	}
}

.text-field {
	margin-bottom: 1rem;
}

.text-field__label {
	display: block;
	margin-bottom: 0.25rem;
}

.text-field__input {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #333;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.text-field__input[type="search"]::-webkit-search-decoration,
.text-field__input[type="search"]::-webkit-search-cancel-button,
.text-field__input[type="search"]::-webkit-search-results-button,
.text-field__input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

.text-field__input::placeholder {
	color: #212529;
	opacity: 0.4;
}

.text-field__input:focus {
	color: #212529;
	background-color: #fff;
	border-color: #bdbdbd;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
	background-color: #f5f5f5;
	opacity: 1;
}

/* / */
.text-field__group {
	display: flex;
	margin-left: 20px;
}

.text-field__btn {
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background-color: #fff;
	border: 1px solid #333;
	padding: .375rem .75rem;
	font-size: 1rem;
	border-radius: .25rem;
	transition: background-color .15s ease-in-out;
}

.text-field__btn:hover {
	background-color: #bdbdbd;
}

.text-field__group input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	position: relative;
	z-index: 2;
}

.text-field__btn {
	position: relative;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left-width: 0;
}

/* navbar-end */
/* cards-start */
/* .carousel {
	margin: 0;
 font-family: 'Muli', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  padding: 30px;
  padding-top: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	z-index: 15;
	user-select: none;
	overflow-y: hidden;
} */

.categories__title {
	color: rgb(77, 55, 102);
	font-size: 28px;
	position: absolute;
	padding-left: 30px;
	z-index: 15;
}

.carousel-item:hover~.carousel-item {
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
	z-index: 15;
}

.carousel__container:hover .carousel-item {
	z-index: 15;
}

.carousel__container:hover .carousel-item:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	opacity: 1;
	z-index: 15;
}

.carousel-item__img {
	width: 300px;
	height: 350px;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 15;
}

.carousel-item__details {
	background: -webkit-gradient(linear,
			left bottom,
			left top,
			from(rgba(0, 0, 0, 0.4)),
			to(rgba(0, 0, 0, 0)));
	background: linear-gradient(to top,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(0, 0, 0, 0) 100%);
	font-size: 10px;
	opacity: 0;
	-webkit-transition: 450ms opacity;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 15;
}

.carousel-item__details:hover {
	opacity: 1;
	z-index: 15;
}

.carousel-item__details span {
	/* width: 10px;
  height: 10px; */
	font-size: 0.9rem;
	color: #2ecc71;
	/* background-color: white; */
	z-index: 15;
}

.carousel-item__details .controls {
	padding-top: 40px;
	z-index: 15;
}

.carousel-item__details {
	color: #fff;
	margin: 10px 0;
	z-index: 15;
}

.carousel-item__details--title {
	margin-left: -10%;
	color: #fff;
	z-index: 15;
}

.carousel-item__details--subtitle {
	color: black;
	margin-top: calc(var(--index) * -1);
	margin-left: calc(var(--index) * 1.8);
	z-index: 15;
	white-space: pre;
	font-size: calc(var(--index) / 2.5);
}

.card-button {
	font-size: large;
	color: #333;
	position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 16;
}

.carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	z-index: 15;
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.carousel__container {
	padding-top: calc(var(--index) * 4.5);
	padding-left: calc(var(--index) * 20.3);
	white-space: nowrap;
	margin: 70px 0px;
	padding-bottom: calc(var(--card-gap) * 1);
	display: block;
	position: relative;
}
.carousel-item {
	width: var(--card-gap);
	height: calc(var(--card-gap) * 1.3);
	border-radius: 20px;
	background-color: rgba(27, 255, 0, 0.4);
	overflow: hidden;
	margin-right: calc(var(--card-gap) / 1.8);
	margin-top: calc(var(--card-gap) / 4);
	display: inline-block;
	cursor: pointer;
	-webkit-transition: 1000ms all;
	transition: 1000ms all;
	-webkit-transform-origin: center right;
	transform-origin: center left;
	position: relative;
	z-index: 15;
}
.tema {
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, black,#333, #fff);
	font-size: 4em;
	position: absolute;
	top: calc(var(--index) * 5);
	margin-left: calc(var(--index) * 31.5);
	/* margin-right: calc(var(--index) * 6); */
	display: block;
	font-family: "Mingzat", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* cards-end */
/* left-navbar-start */
/* left-navbar-end */
/* selection-start */

/* section-end */
section {
	background: rgb(154, 109, 49);
	background: -moz-linear-gradient(0deg, rgba(154, 109, 49, 1) 0%, rgba(103, 92, 69, 1) 67%);
	background: -webkit-linear-gradient(0deg, rgba(154, 109, 49, 1) 0%, rgba(103, 92, 69, 1) 67%);
	background: linear-gradient(0deg, rgba(154, 109, 49, 1) 0%, rgba(103, 92, 69, 1) 67%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a6d31", endColorstr="#675c45", GradientType=1);
}

/* main-content-stat */
.text-selection-div:not(.for-main-select) {
	background: rgb(93, 79, 58);
	background: -moz-linear-gradient(0deg, rgba(93, 79, 58, 1) 0%, rgba(61, 58, 51, 1) 67%);
	background: -webkit-linear-gradient(0deg, rgba(93, 79, 58, 1) 0%, rgba(61, 58, 51, 1) 67%);
	background: linear-gradient(0deg, rgba(93, 79, 58, 1) 0%, rgba(61, 58, 51, 1) 67%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5d4f3a", endColorstr="#3d3a33", GradientType=1);
	display: block;
	position: relative;
	margin-left: 25%;
	margin-right: 25%;
	color: #fff;
	padding-top: 10px;
	padding-left: 3vh;
	padding-right: 3vh;
}

.H1class {
	font-size: 3em;
	text-align: center;
}

p {
	text-indent: 2.5em;
	font-size: 1.4em;
	/* padding-top: 1em; */
}

.textclass {
	font-size: 1.4em;
	padding-left: 5%;
}

/* main-content-end */
/* footer-start */
.foot-panel {
	display: block;
	flex-direction: column;
	justify-content: flex-end;
	align-self: stretch;
	padding-top: 1em;
	padding-bottom: 1em;
	background: rgb(235, 221, 227);
	background: -moz-radial-gradient(circle, rgba(235, 221, 227, 1) 0%, rgba(192, 215, 242, 1) 100%);
	background: -webkit-radial-gradient(circle, rgba(235, 221, 227, 1) 0%, rgba(192, 215, 242, 1) 100%);
	background: radial-gradient(circle, rgba(235, 221, 227, 1) 0%, rgba(192, 215, 242, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebdde3", endColorstr="#c0d7f2", GradientType=1);
}

.socialMediaVK {
	margin-left: 48%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.socialMediaTG {
	margin-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.hr-double {
	margin: 5px 0;
	padding: 0;
	height: 0;
	border: none;
	box-shadow: 0 0 10px 1px black;
}
/* footer-end */
.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #673ab7;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #512da8; /* цвет заднего фона при наведении */
  }
}